
<header>
  <h1>TinyURL Generator</h1>
</header>

<section class="container">
  <form
    #urlForm="ngForm"
    (ngSubmit)="onSubmitUrlForm(urlForm)"
    novalidate
    autocomplete="off"
    *ngIf="!isFormSubmitted"
  >
    <input
      class="form-input"
      name="inputUrl"
      type="url"
      [(ngModel)]="model.inputUrl"
      #inputUrl="ngModel"
      placeholder="Paste your url here"
      required
    />
    <div
      class="form-error"
      [hidden]="(inputUrl.valid || inputUrl.pristine) && inputUrl.errors"
    >
      <p *ngIf="inputUrl.errors && inputUrl.errors?.['required']">
        Please Enter URL.
      </p>
    </div>

    <button type="submit" [disabled]="urlForm.invalid" class="form-btn">
      {{ !isLoading ? 'Generate URL' : 'Generating...' }}
    </button>
  </form>

  <div class="short-url-div" *ngIf="isFormSubmitted">
    <h2>Generated URL</h2>
    <div>
      <p>
        <a
          [href]="shortUrl"
          #shortUrlElementRef
          target="_blank"
          title="Click Me"
          >{{ shortUrl }}</a
        >
      </p>
    </div>

    <div class="short-url-btn-div">
      <button (click)="copyUrl(shortUrlElementRef)">
        {{ !isTextCopied ? 'Copy' : 'Copied' }}</button
      >&nbsp;&nbsp;&nbsp;
      <button (click)="reset()">Reset</button>
    </div>
  </div>
</section>
